services:
    postgres:
        image: postgres:17
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 1234
            POSTGRES_DB: libraries-2
        ports:
            - "5432:5432"
        volumes:
            - ./volume/db:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 30
            start_period: 40s

    backend:
        build: ./ffsmidjs-diploma-backend
        depends_on:
            postgres:
                condition: service_healthy
        volumes:
            - ./volume/backend/uploads:/app/uploads
        ports:
            - 3000:3000
        environment:
            - DATABASE_URL=postgresql://postgres:1234@postgres:5432/libraries-2?schema=public
            - SESSION_SECRET=e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
            - ADMIN_EMAIL=admin@test.ru
            - ADMIN_PASSWORD=12345678
            - CLIENT_URL=http://frontend:5173

    frontend:
        build: ./ffsmidjs-diploma-frontend
        volumes:
            - ./volume:/volume
        ports:
            - 5173:5173
        environment:
            - VITE_SERVER_URL=http://localhost:3000
